.home section[role=main] { margin-left: 120px; }
.list { display: block; margin: 0; padding: 0; }
.list-item { display: block; width: 100%; font-size: 140%; padding: 10px 0 10px 0; }
.list-item:hover { background-color: rgb(33, 33, 33); }

#add-input { margin-top: 10px; }